~~~
title = "Metropolis"
description = "Metropolis, our school's student-run data hub, offers club info, event updates, and student essentials. Built using Django, React & React Native, our team of 45 developers, artists, and creators collaborates on this platform. I handle backend maintenance, feature implementation, DevOps, and site management."
date = "2023-01-01"
published = true
featured = false
tags = ["django", "react", "react-native", "devops"]

[image]
url = "/projects/metropolis.webp"
alt = "The Metropolis Main GitHub repository"

[[links]]
text = "GitHub"
url = "https://github.com/wlmac/metropolis"

[[links]]
text = "Demo"
url = "https://maclyonsden.com"
~~~

# Metropolis

Metropolis is our school's student-run data hub, offering club information, event updates, and student essentials. Built using Django, React & React Native, our team of 45 developers, artists, and creators collaborates on this platform.

I handle backend maintenance, feature implementation, DevOps, and site management for this comprehensive school platform.